
doctype 5
html
  head
    meta(charset='utf-8')
    title site-nav
    script(src='site-nav.js')
    //- script(src='http://192.168.1.103:7777/doodle.js')
    link(rel='stylesheet',href='site-nav.css')
  body
    p nothing will be here