
#site-nav
  box-sizing border-box
  -moz-box-sizing border-box

  border 2px solid hsl(240,80,90)
  border-right 0px
  background hsl(40,90,98)
  padding 10px
  border-radius 8px 0px 0px 8px
  font-family "microsoft yahei", Sawasdee
  font-size 20px
  position absolute
  right 0px
  top 100px
  width 20px
  overflow-x hidden
  -webkit-transition-duration 0.3s
  -moz-transition-duration 0.3s
  -o-transition-duration 0.3s
  transition-duration 0.3s

  &:hover
    width 100px

  a
    text-decoration none
    white-space nowrap
    color hsl(240,80,80)

  p
    margin 0px

    &:hover a
      color hsl(250,30,30)