#site-nav {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 2px solid #d1d1fa;
  border-right: 0px;
  background: #fefbf5;
  padding: 10px;
  border-radius: 8px 0px 0px 8px;
  font-family: "microsoft yahei", Sawasdee;
  font-size: 20px;
  position: absolute;
  right: 0px;
  top: 100px;
  width: 20px;
  overflow-x: hidden;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
#site-nav:hover {
  width: 100px;
}
#site-nav a {
  text-decoration: none;
  white-space: nowrap;
  color: #a3a3f5;
}
#site-nav p {
  margin: 0px;
}
#site-nav p:hover a {
  color: #3d3663;
}
